body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-feature-settings: 'ss01'on;
  color: #333333;;
  font-size: 11pt;
}

#header-link {
  text-align: center;
  font-size: 10pt;
  margin: 5px;
}

nav>a {
  margin: 0 10px;
  cursor: pointer;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 50px;
  background-color: #FEFEFE;
  border: 1px solid #F1F1F1;
  font-size: 11pt;

}

.test {
  border: 1px solid #F1F1F1;
}

#project-nav {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  height: 40px;
  width: 600px;
  margin: auto;

}

a {
  all: unset;
}

#project-overview {
  display: flex;
  width: 1200px;
  margin: auto;
  gap: 50px;
  font-size: 11pt;
}

#project-name {
  font-weight: 700;
  font-size: 32px;
  margin: 20px 0px;
}

#project-overview>#sidebar {
  min-width: 400px;
  padding: 20px;
}


#info>.item {
  display: flex;
  margin: 20px 0px;
  /* align-items: center; */
}

#info>.item>.title {
  min-width: 100px;
}

#bbl>#list {
  display: flex;
}

#bbl-title {
  min-width: 100px;
}

#bbl-list {
  display: flex;
}

.bbl-item {
  background: rgba(63, 140, 255, 0.14);
  border-radius: 5px;
  padding: 4px;
  color: #3F8CFF;
  margin-right: 10px;
}

.bbl-item.active {
  background: #3F8CFF;
  border-radius: 5px;
  padding: 4px;
  color: #fff;
}

/* table */
table {
  width: 100%;
}

th {
  text-align: left;
}

td {
  text-align: center;
  padding: 10px;
}


/* sidebar */
#map {
  height: 300px;
  background-color: #3F8CFF;
  border-radius: 12px;
}

#card {
  margin: 20px 0px;
  padding: 0px 20px;
  border: 1px solid #F1F1F1;
  border-radius: 10px;
}

.card-item {
  margin: 20px 0px;
}

.card-item>.title {
  font-weight: 700;
}

/* hearing card */
#hearing-card.title{

}
#hearing-card > .button{
  border: 1px solid #E7E7E7;
  border-radius: 6px;
  padding: 10px;
  display: inline-block;
}