body {
  margin: 0;
  font-family: 'Lexend', sans-serif;
  font-feature-settings: 'ss01'on;
  color: #333333;;
  font-size: 11pt;
  background-color: #F4F6F9;
}

#header-link {
  text-align: center;
  font-size: 10pt;
  padding: 5px;
  background-color: #5D0E8B;
  color: #F1F1F1;
}

nav>a {
  margin: 0 10px;
  cursor: pointer;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 50px;
  background-color: #FEFEFE;
  border: 1px solid #F1F1F1;
  font-size: 11pt;
  color: rgba(0, 0, 0, 0.33);
}

nav > .active {
  color: #5D0E8B;
  transition: 0.2s ease-out;
}

a.item {
  transition: 0.2s ease-out;
}

a.item:hover {
  color: #5D0E8B;
}

.subnavitem {
  transition: 0.2s ease-out;
}

.subnavitem:hover {
  color: #5D0E8B;
}

.submenu {
  border-bottom: 1px solid #F1F1F1;
  background-color: #ffffffa9;
}

#project-nav {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  height: 40px;
  width: 600px;
  margin: auto;
  cursor: pointer;
  color: #3333336d;
}

#project-nav > .active {
  border-bottom: #5D0E8B 3px solid;
  color: #5D0E8B;
  padding: 0px 5px;
  box-sizing: border-box;
  height: 100%;
  line-height: 40px;
  cursor: default;
}

a {
  all: unset;
  cursor: pointer;
}

#project-overview {
  display: flex;
  width: 1200px;
  margin: 20px auto;
  gap: 50px;
  font-size: 11pt;
}

#project-name {
  font-weight: 700;
  font-size: 32px;
  margin: 20px 0px;
  color: #5D0E8B;
}

#project-overview>#sidebar {
  max-width: 400px;
  min-width: 400px;
  padding: 20px;
}


#info>.item {
  display: flex;
  margin: 30px 0px;
  /* align-items: center; */
}

#info>.item>.title {
  min-width: 100px;
}

#info>.item>.content {
  color: #585858;
}

#bbl>#list {
  display: flex;
}

#bbl-title {
  min-width: 100px;
}

#bbl-list {
  display: flex;
}

.bbl-item {
  background: rgba(63, 140, 255, 0.14);
  border-radius: 5px;
  padding: 7px 10px;
  color: #5D0E8B;
  margin-right: 10px;
  cursor: pointer;
  transition: 0.4s ease-out;
}

.bbl-item.active {
  background: #5D0E8B;
  color: #fff;
  cursor: default;
}

/* table */
table {
  width: 100%;
}

th {
  text-align: left;
}

td {
  text-align: center;
  padding: 10px;
}


/* sidebar */
#main {
  flex-grow: 1;
}

#map {
  height: 300px;
  background-color: #5D0E8B;
  border-radius: 12px;
}

#card {
  margin: 20px 0px;
  padding: 0px 20px;
  border: 1px solid #F1F1F1;
  border-radius: 10px;
  background-color: #fff;
}

.card-item {
  margin: 20px 0px;
}

.card-item>.title {
  font-weight: 700;
}

/* hearing card */
#hearing-card {
  padding: 10px;
}
#hearing-card > .button{
  border: 1px solid #E7E7E7;
  background-color: #fff;
  color: #5D0E8B;
  border-radius: 6px;
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}


#pdf-iframe {
  height: calc(100vh - 140px);
  flex-grow: 1;
  border: none;
}

#documents-page {
  display: flex;
}

#document-browser {
  display: flex;
  flex-direction: column;
  width: 360px;
  height: calc(100vh - 140px);
  /* background-color: #525659; */
}

#search-bar{
  display: flex;
  padding: 10px;
  background-color: #323639;
}

#searchFiles {
  padding: 11px;
  width: 100%;
  border-radius: 4px;
  border: none;
  color: #F1F1F1;
  background-color: #1f2224;
}

#files {
  box-sizing: border-box;
  padding: 0px;
  width: 100%;
  height: 100%;
  background-color: #1f2224;
}

.files-card {
  box-sizing: border-box;
  /* background-color: #fff; */
  width: 100%;
  padding: 10px;
  height: 90%;
  overflow-y: auto;
}

.doc-item {
  margin: 10px 0px;
  padding-left: 20px;
}

.accordion {
  border-radius: 4px;
  background-color: #2E2F38;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin: 10px 0px;
  font-family: 'Lexend', sans-serif;
  font-feature-settings: 'ss01'on;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
 .accordion:hover {
  background-color: #3f414d;
}

/* Style the accordion panel. Note: hidden by default */

.panel {
  padding: 0 18px;
  color: #fff;
  /* background-color: white; */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel>p{
  margin: 20px 0px;
  padding: 10px 0px;
  cursor: pointer;
  color: #ffffff66;
}

.panel>p.active {
  color: #ffffff;
}

.panel>p:hover{
  color: #ffffff;
  transition: 0.2s ease-out;
}

*:focus {
  outline: none;
}

